body{
    background-color: rgb(198, 198, 198);
}
button{
    width: 100%;
    background-color: #344D9B;
}
img{
    padding: 10px;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 100vh;
    align-items: center;
}
.box{
    z-index: 1;
    border-color: aliceblue;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 30%;
}
.pageno{
    background-color: #344D9B;
}
#characters{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}
#pages{
    position: absolute;
    padding-top: 80vh;
}
#pages ul {
    z-index: -1;
    display:flex;  
    list-style:none;
    margin: 0px;
    padding: 0px;
}
#pages li {
    padding: 1vw;
    padding: 1vw;

}